/* 
  AUTHENTICATION MODAL
*/

.auth__wrapper,
.auth {
  width: 100%;
  z-index: 9999;
}

.auth__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth {
  position: relative;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth__content {
  padding: 48px 32px 24px;
}

.auth__header {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 24px;
}

.guest__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #3a579d;
  color: #fff;
  justify-content: center;
}

.guest__btn--wrapper:hover {
  background-color: #25396b !important;
}

.guest__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 2px;
}

.facebook__icon--wrapper {
  background-color: transparent;
}

.guest__icon {
  font-size: 32px;
}

.google__icon {
  font-size: 24px;
  color: transparent;
}

.google__btn--wrapper {
  position: relative;
  display: flex;
  background-color: #4285f4;
  color: #fff;
  justify-content: center;
}

.google__btn--wrapper:hover {
  background-color: #3367d6 !important;
}

.auth__separator {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.auth__separator::before,
.auth__separator::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #bac8ce;
}

.auth__separator--text {
  margin: 0 24px;
  font-size: 14px;
  color: #394547;
  font-weight: 500;
}

.google__icon {
  color: transparent;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth__input {
  height: 40px;
  border: 2px solid #bac8ce;
  border-radius: 4px;
  color: #394547;
  padding: 0 12px;
}

.auth__input:focus {
  border-color: #2bd97c;
}

.auth__forgot--password {
  text-align: center;
  color: #116be9;
  font-weight: 300;
  font-size: 14px;
  width: fit-content;
  margin: 0 auto 16px;
  cursor: pointer;
}

.auth__forgot--password:hover {
  color: #124a98;
}

.no__account--btn {
  height: 40px;
  text-align: center;
  background-color: #f1f6f4;
  color: #116be9;
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-weight: 300;
  font-size: 14px;
}

.no__account--btn:hover {
  background-color: #e1e9e8;
}

.auth__close--btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  cursor: pointer;
  transition: opacity 0.2s;
}

.auth__close--btn:hover {
  opacity: 0.5;
}

.auth__close--icon {
  font-size: 28px;
}

.auth__error {
  color: #f56c6c;
  margin-bottom: 16px;
}

/* 
    FOR YOU 
  */
.content--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.sidebar__toggle--btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu__icon--svg {
  height: 24px;
  width: 24px;
}
