/* 
  RESPONSIVE DESIGN
 */
@media (max-width: 1200px) {
  .selected__book {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .book__wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .book__description__container {
    order: 1;
  }

  .book--outer--img__container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }

  .content--wrapper {
    margin-left: 0;
    width: 100%;
  }

  .sidebar__toggle--btn {
    display: flex;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar--opened {
    transform: translateX(0);
    width: 80%;
  }

  .sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity 0.4s ease 0s;
    z-index: 10;
    opacity: 0.65;
    pointer-events: auto;
  }

  .sidebar__overlay--hidden {
    opacity: 0;
    pointer-events: none;
  }

  .selected__book {
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }

  .selected__book--subtitle {
    width: 100%;
    font-size: 14px;
  }

  .selected__book--content,
  .selected__book--info {
    width: 100%;
  }

  .selected__book--separator {
    display: none;
  }

  .book__description__title {
    font-size: 24px;
  }

  .book__description__subtitle {
    font-size: 18px;
  }

  .audio--summary--title {
    font-size: 20px;
  }

  .audio__container {
    height: 170px;
    padding: 16px 24px;
    flex-direction: column;
  }

  .audio__container > div {
    width: 100%;
    justify-content: center;
  }

  .audio__track__img__wrapper {
    max-width: 80px;
  }

  .sidebar__wrapper--audio {
    height: calc(100vh - 230px);
  }

  .plan__header__container::before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .wrapper {
    margin-left: 0;
    width: 100%;
  }

  .plan__title {
    font-size: 26px;
    margin-bottom: 32px;
  }

  .plan__subtitle {
    font-size: 16px;
  }

  .plan__features__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }

  .selected__book {
    padding: 16px;
  }
}
