/* 
  SETTINGS
*/
.setting__title {
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 16px;
  font-size: 32px;
  color: #032b41;
  text-align: left;
  margin-bottom: 32px;
  font-weight: 700;
}

.setting__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  padding-bottom: 24px;
}

.setting__info--title {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
}

.setting__info--subtitle {
  color: #032b41;
}

.settings__login__container {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.settings__login__container img {
  width: 100%;
  height: 100%;
}

.settings__login--title {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px;
}

.btn.settings__upgrade--btn {
  width: fit-content;
}
